.namesetDiv {
	float:left;
	margin-right: 10px ;
}

.citystatezipDiv {
	float:left;
	margin-right: 10px ;
}

.detailssetDiv {
	float:left;
	margin-right: 10px ;
}


.phoneDiv {
	float:left;
	margin-right: 10px ;
}

.emailDiv {
	float:left;
	margin-right: 10px ;
}

.employerDiv {
	float:left;
	margin-right: 10px ;
}

.employercitystatezipDiv {
	float:left;
	margin-right: 10px ;
}
